*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* header */
/* Lista categorias */
ul{
    list-style: none;
}
.header__nav{
    background-image: url(../recursos/portada.jpg);
    background-position: top;
    background-size: contain;
}
.header__nav--ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size:0;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}
.header__li {
    padding: 16px;
    font-size: 18px;
}
.header__li--pedidos{
    padding-top: 5px;
}
.li__cat--ul{
    position: absolute;
    display: none;
}
.li__cat{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.header__li a {
    color: black;
    text-decoration: none;
}
ul li:hover ul {
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 233, 233);
    padding: 10px 10px 15px 10px;
}
/* Fin Lista categorias */
.header__lista--logo{
    width: 300px;
    display: flex;
    flex-direction: column;
}
.li__ico{
    display: flex;
    flex-direction: column;
    width: 45px;
    height: 45px;
}
/* body */
body{
    background-color: rgb(235, 233, 233);
}
img{
    padding: 10px;
    width: 100%;
    height: 100%;
}
.principal__titulo{
    padding: 16px 16px 7px 40px;
    border-bottom: solid 1px rgb(182, 181, 181);
    background-color: white;
    font-size: 24px;
    display: flex;
    flex-wrap: wrap;
}
.articles__productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* Categorias */
.categorias__grid{
    display: grid;
    width: 100vw;
    height: 60vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 15px;
    column-gap: 15px;
}
.categorias__boton{
    width: 130px;
    height: 50px;
    background-color: rgba(42, 165, 4, 0.719);
    border: rgba(42, 165, 4, 0.719)  10px ;
    border-radius: 15px;
    font-size: 20px;
    color: white;
}
.sandia{

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end:   3;
    display: flex;
    background-image: url("../recursos/sandia.jpg");
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.rabanitos{
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    background-image: url("../recursos/rabanitos.jpg");
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.naranjas{
    grid-column: 4/5;
    grid-row: 1/3;
    display: flex;
    background-image: url("../recursos/naranjas.jpg");
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.palta{
    grid-column: 3/4;
    grid-row: 2/3;
    display: flex;
    background-image: url("../recursos/palta.jpg");
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.tomate{
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    background-image: url("../recursos/tomater.jpg");
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.ajo{
    grid-column: 3/5;
    grid-row: 3/4;
    display: flex;
    background-image: url("../recursos/ajo.jpg");
    background-size: cover;
    justify-content: center;
    align-items: center;
}
/* Productos */
.listado__productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border: solid 1px rgb(161, 160, 160);
    border-radius: 3%;
    width: 300px;
    background-color: rgba(60, 255, 0, 0.534);
    color: white;
}
.descripcion__productos{
    background-color: rgba(42, 165, 4, 0.658);
    width: 100%;
    padding: 3px;
    text-align: center;
}
.listado__boton{

}

/* Fin Productos */
/* footer */
footer{
    padding: 27px;
    background-color: rgb(64, 185, 8);
    color: white;
}
.footer__contactanos{
    display: grid;
    grid-template-areas: "indice mapa redes"
                        "indice mapa derechos";
}
.footer__nav{
    grid-area: indice;
    /* border-right: black solid 1px; */
}
.footer__visitanos{
    grid-area: mapa;
}
.footer__redes{
    grid-area: redes;
}
.footer__icono{
    width: 65px;
    height: 65px;
}
.footer__derechos{
    grid-area: derechos;
}
.footer__nav ul li{
    padding-bottom: 12px;
}
a{
    text-decoration: none;
    color: white;
}

/* Fin footer */
/* media querie de trablet*/
@media (min-width: 576px) and (max-width: 992px){
    .categorias__grid{
        height: auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 15px;
        column-gap: 15px;
    }
    .sandia{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end:   3;
    }
    .rabanitos{
        height: 100px;
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .naranjas{
        grid-column: 3/4;
        grid-row: 1/3;
    }
    .palta{
        height: 100px;
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .tomate{
        height: 100px;
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .ajo{
        height: 100px;
        grid-column: 2/4;
        grid-row: 3/4;
    }
    .categorias__boton{
        width: 120px;
        height: 30px;
        font-size: 15px;
    }
    .footer__contactanos{
        display: grid;
        grid-template-areas: "indice mapa"
                            "indice mapa"
                            "redes redes"
                            "derechos derechos";
    }
    .footer__conect{
        display: flex;
    }
    .footer__derechos{
        margin-top: 20px;
    }
}
/* fin media querie de tablet */
/* media querie de celular */
@media (min-width: 320px) and (max-width: 575px){
    .categorias__grid{
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 15px;
        column-gap: 15px;
    }
    .sandia{
        height: 100px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end:   2;
    }
    .rabanitos{
        height: 100px;
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .naranjas{
        height: 100px;
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .palta{
        height: 100px;
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .tomate{
        height: 100px;
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .ajo{
        height: 100px;
        grid-column: 1/2;
        grid-row: 6/7;
    }
    .categorias__boton{
        width: 110px;
        height: 30px;
        font-size: 15px;
    }
    .footer__contactanos{
        display: grid;
        grid-template-areas: "indice"
                            "mapa"
                            "redes"
                            "derechos";
    }
}
/* fin media querie de celular */
/* Fin media */