// footer{

    .footer{
        &__contactanos{
            display: grid;
            grid-template-areas: "indice mapa redes"
                                "indice mapa derechos";
            padding: 1.688rem;
            color: white;
        }
        &__nav{
            grid-area: indice;
        }
        &__nav ul li{
            padding-bottom: 0.75rem;
        }
        &__visitanos{
            grid-area: mapa;
        }
        &__redes{
            grid-area: redes;
        }
        &__icono{
            width: 4.063rem;
            height: 4.063rem;
        }
        &__derechos{
            grid-area: derechos;
        }
    }
// }
