.header{
    background-image: url(../recursos/portada.jpg);
    background-position: top;
    background-size: contain;
    &__nav{
        height: 65px;
    }
    &__lista--logo{
        width: 300px;
        display: flex;
        flex-direction: column;
    }
    &__pedidos{
        display: flex;
        justify-content: end;
    }
    &__pedidos--ico{
    width: 43px;
    height: 45px;
    }
    &__buscar{
        width: 50vw;    
    }
    &__buscar--boton{
        border: $color-principal solid 1px;
        color: white;
        font-weight: 600;
    }
    &__categoria--font{
        color: black;
    }
}