@media (min-width: 576px) and (max-width: 992px){
    .header__nav{
        height: auto;
    }
    .productos{
        margin: auto;
    }
    .categorias__grid{
        height: auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 15px;
        column-gap: 15px;
    }
    .sandia{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end:   3;
    }
    .rabanitos{
        height: 100px;
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .naranjas{
        grid-column: 3/4;
        grid-row: 1/3;
    }
    .palta{
        height: 100px;
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .tomate{
        height: 100px;
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .ajo{
        height: 100px;
        grid-column: 2/4;
        grid-row: 3/4;
    }
    .categorias__boton{
        width: 120px;
        height: 30px;
        font-size: 15px;
    }
    .pedido__vacio{
        margin: auto;
        border-radius: 0;
    }
    .pedido__cant{
        padding: 2px 0 2px 16px;
        font-size: 18px;
    }
    .pedido__texto{
        height: 45vh;
        font-size: 30px;
    }
    .pedido__pregunta{
        font-size: 20px;
    }
    .pedido__pregunta--dos{
        font-size: 15px;
    }
    .pedido__titulo{
        display: none !important;
    }
    .pedido__recomendado{
    display: none !important;
    }
    .footer{
        &__contactanos{
            display: grid;
            grid-template-areas: "indice mapa"
                                "indice mapa"
                                "redes redes"
                                "derechos derechos";
        }
        &__derechos{
            margin-top: 20px;
        }
    }
}

@media (min-width: 320px) and (max-width: 575px){
    .header__nav{
        height: auto;
    }
    .principal__titulo{
        font-size: 22px;
    }
    .productos{
        margin: auto;
    }
    .categorias__grid{
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 15px;
        column-gap: 15px;
    }
    .sandia{
        height: 100px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end:   2;
    }
    .rabanitos{
        height: 100px;
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .naranjas{
        height: 100px;
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .palta{
        height: 100px;
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .tomate{
        height: 100px;
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .ajo{
        height: 100px;
        grid-column: 1/2;
        grid-row: 6/7;
    }
    .categorias__boton{
        width: 110px;
        height: 30px;
        font-size: 0.938em;
    }
    .pedido{
        &__vacio{
            margin: auto;
            border-radius: 0;
        }
        &__cant{
            padding: 2px 0 2px 16px;
            font-size: 1.125em;
        }
        &__texto{
            height: 45vh;
            font-size: 1.563em;
        }
        &__pregunta{
            font-size: 0.938em;
        }
        &__pregunta--dos{
            font-size: 0.938em;
        }
        &__titulo{
            display: none !important;
        }
        &__recomendado{
            display: none !important;
        }
    }
    .footer{
        &__contactanos{
            display: grid;
            grid-template-areas: "indice"
                                "mapa"
                                "redes"
                                "derechos";
        }
        &__mapa{
        width: 100%;
        height: 100%;
        }    
    }

}