.pedido{
    &__vacio{
        @extend .pedido-flex;
        margin: 1.875rem;
        border-radius: 0.938rem;
    }
    &__cant{
        padding: 2px 0 2px 16px;
        font-size: 1.25em;
        border-bottom: 1px solid rgb(168, 167, 167);
    }
    &__texto{
        @extend .pedido-flex;
        height: 45vh;
        font-size: 2.5em;
        text-align: center;
    }
    &__pregunta{
        font-size: 0.663em;
        color: rgb(68, 67, 67);
    }
    &__pregunta--dos{
        font-size: 0.55em;
        color: rgb(68, 67, 67);
    }
}