@import "variables.scss";
@import "header.scss";
@import "categorias";
@import "productos.scss";
@import "operators.scss";
@import "pedido.scss";
@import "footer.scss";
@import "mediaqueries.scss";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* header */
/* Lista categorias */
ul{
    list-style: none;
}
/* body */
body{
    background-color: rgb(235, 233, 233);
}
a{
    text-decoration: none;
    color: white;
}
img{
    padding: 10px;
    width: 100%;
    height: 100%;
}
.principal__titulo{
    margin: 16px;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
}